video {
	position: relative;
}
.right {
}

.Cont {
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-items: flex-start;
	flex-wrap: wrap;
}

.Controls {
	display: flex;
	flex-direction: column;
}
video {
	grid-column-start: 1;
}
.UI {
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
}
.Controls {
	grid-column-start: 1;
}

button,
input[type='text'],
textarea {
	padding: 0.5em;
	font-size: 20px;

	cursor: pointer;
	margin: 0.5em;
}
button {
	text-transform: uppercase;
	width: 12em;
}
label,
input[type='text'] {
	padding: 0.5em;
	font-size: 20px;
}

input[type='text'] {
	padding: 0.5em;
}

iframe {
	border: none;
	width: 512px;
	height: 512px;
}
